.paginator {
  text-align: center;
  padding: 10px;
}

.paginator__page {
  padding: 3px 5px;
  margin: 3px;
  border-radius: 5px;
  font-size: 12px;

  &:hover {
    background-color: rgba(130, 130, 130, 0.41);
  }
}

.paginator__selectPage {
  font-weight: bold;
  background-color: rgba(130, 130, 130, 0.41);
}

.paginator__btn {
  border-style: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4f92ff;
  color: white;
  cursor: pointer;
  margin: 12px;

  &:hover {
    background-color: #3e74ff;
  }
}


