.app-wrapper {
  width: auto;
  min-height:100vh;
  margin: 0 auto;
}
/*#edeef0*/
.page_Main {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #001529;
  margin-top: 40px;
}

.app_preloader {
  position: absolute;
  top: 50px;
}
