.app-wrapper {
  width: auto;
  min-height:100vh;
  margin: 0 auto;
  border: 1px solid green;
  background-color: red;
}

.page_Main {
  width: 1200px;
  margin: 0 auto;
}

.app_preloader {
  position: absolute;
  top: 50px;
}
