.dialogForm {
  width: 100%;
  resize: none;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
}

.contentMessage {
  box-sizing: border-box;
}

.dialogFormBtn {
  border-style: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4f92ff;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #3e74ff;
  }
}