.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 1fr;
}

.message {
  padding: 10px 0;
  width: 65%;
  border: 1px solid;
}

.message_left {
  padding-bottom: 50px;
  width: 75%;
  margin-right: auto;

}

.message_right {
  padding-bottom: 10px;
  width: 75%;
  margin-left: auto;
  text-align: right;

}

.message__item {
  margin: 0px;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(216, 219, 218, 0.4);
}

.message__data {
  color: rgb(103, 106, 105);
  font-size: 12px;
  padding:  0 10px;
}

.viewed {
  font-size: 12px;
  padding:  0 10px;
  color: rgba(255, 0, 0, 0.6);
}

.textType {
  box-sizing: border-box;
  height: 15%;
}