

.ProfileInfo__UserData {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.UserData__item {
  color: #828282;
  margin-right: 5px;
  min-width: 80px;
  width: 25%;
  flex-shrink: 0;
  word-break: break-word;
}

.Contact {
  padding: 3px 0;
}

.Contact__Link {
  color: white;
  padding-left:5px;
  word-break: break-word;
}
