.settingsPage {
    background-color: white;
    border-radius: 8px;
    margin-top: 15px;
    padding: 15px;
}

.settingsPage__warning {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}