$color: #2d2d44;

.header_container {
  //grid-area: h;
  background-color: $color;
}

.header__content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.header__logoData,
.header__UserDara {
  display: flex;
  align-items: center;
  height: 50px;
}

.header__logo {
  height: 30px;
}

.header__name {
  color: white;
  margin-left: 10px;
}

.header__UserPhoto {
  width: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.header__select {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

.header__btn {
  border-style: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4f92ff;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #3e74ff;
  }
}

