.app-wrapper {
  width: auto;
  margin: 0 auto;
}

.page_Main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  width: 1000px;
  margin: 0 auto;
}

.app_preloader {
  position: absolute;
  top: 50px;
}
