.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;



}
.dialogsItems {
    border-right: 1px solid #edeef0;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
